body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.amount-container {
    display: flex;
    justify-content: space-between;
}

#amount {
    flex: 1; /* Allow the amount input to take most of the space */
    margin-right: 10px; /* Space between amount and currency dropdown */
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    margin-top:10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.response-message {
    margin-top: 20px;
    font-size: 1.2em;
    color: #28a745; /* Green color for success message */
}
